/* line 1, ../sass/screen.scss */
body {
  margin: 0 360px;
  border: 10px double #000;
  padding: 0 30px;
  float: none;
  clear: both;
  position: relative;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/* line 11, ../sass/screen.scss */
article {
  font-size: 14px;
}

/* line 15, ../sass/screen.scss */
.title {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  width: 500px;
}

/* line 22, ../sass/screen.scss */
.title span {
  margin-bottom: 4px;
  display: block;
  border-bottom: 5px solid #000;
}

/* line 28, ../sass/screen.scss */
.title2 {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  width: 750px;
}

/* line 35, ../sass/screen.scss */
.title2 span {
  margin-bottom: 4px;
  display: block;
  border-bottom: 5px solid #000;
}

/* line 41, ../sass/screen.scss */
.title3 {
  font-size: 35px;
  font-weight: bold;
  border-bottom: 1px solid #000;
  width: 800px;
}

/* line 48, ../sass/screen.scss */
.title3 span {
  margin-bottom: 4px;
  display: block;
  border-bottom: 2px solid #000;
}

/* line 54, ../sass/screen.scss */
blockquote {
  font-family: Georgia, serif;
  font-size: 18px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}
/* line 64, ../sass/screen.scss */
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

/* line 75, ../sass/screen.scss */
img {
  width: 275px;
  height: 410px;
  float: right;
  postion: relative;
  margin-left: 50px;
  margin-right: 5px;
  border: 5px solid #000;
}

/* line 85, ../sass/screen.scss */
#books {
  float: left;
  padding: 1px 10px;
  font-size: 13px;
}
/* line 89, ../sass/screen.scss */
#books ul li {
  list-style: square;
}
/* line 92, ../sass/screen.scss */
#books a {
  padding: 1px 10px;
  text-decoration: none;
  color: #000;
}
/* line 96, ../sass/screen.scss */
#books a:hover {
  background-color: #CCFFFF;
  transition: ease;
}

/* line 103, ../sass/screen.scss */
#comics {
  float: left;
  padding: 1px 5px;
  font-size: 13px;
}
/* line 107, ../sass/screen.scss */
#comics ul li {
  list-style: square;
}
/* line 110, ../sass/screen.scss */
#comics a {
  padding: 1px 10px;
  text-decoration: none;
  color: #000;
}
/* line 114, ../sass/screen.scss */
#comics a:hover {
  background-color: #CCFFFF;
  transition: ease;
}

/* line 121, ../sass/screen.scss */
#stories {
  float: left;
  padding-bottom: 5px;
  font-size: 13px;
}
/* line 125, ../sass/screen.scss */
#stories ul li {
  list-style: square;
}
/* line 128, ../sass/screen.scss */
#stories a {
  padding: 1px 10px;
  text-decoration: none;
  color: #000;
}
/* line 132, ../sass/screen.scss */
#stories a:hover {
  background-color: #CCFFFF;
  transition: ease;
}

/* line 139, ../sass/screen.scss */
#social {
  border-top: 4px double #000;
  border-bottom: 4px double #000;
  margin: 50px 0 50px 575px;
  width: 150px;
  height: 160px;
  padding: 5px 0 20px;
}
/* line 146, ../sass/screen.scss */
#social p {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
/* line 151, ../sass/screen.scss */
#social a {
  padding: 3px 35px;
  text-decoration: none;
  color: #000;
}
/* line 156, ../sass/screen.scss */
#social a:hover {
  background-color: #CCFFFF;
  transition: ease;
}

/* line 163, ../sass/screen.scss */
#social ul {
  padding: 0px 0px;
}
/* line 165, ../sass/screen.scss */
#social ul li {
  list-style: none;
  line-height: 40px;
  text-align: center;
}

/* line 174, ../sass/screen.scss */
#footer {
  float: none;
  clear: both;
  text-align: center;
  font-size: 11px;
  border-top: 1px solid #000;
  padding-bottom: 2px;
}
/* line 181, ../sass/screen.scss */
#footer a {
  padding: 1px 1px;
  text-decoration: none;
  color: #000;
}
/* line 185, ../sass/screen.scss */
#footer a:hover {
  background-color: #F0F0F0;
  transition: ease;
}
